--- arch/arm/mach-s5pv210/Kconfig
+++ arch/arm/mach-s5pv210/Kconfig
@@ -372,4 +372,12 @@
        bool "Enable WiFi control function abstraction"
        help
          Enables Power/Reset/Carddetect function abstraction
+         
+config FORCE_FAST_CHARGE
+       bool "Force AC charge mode at will"
+       default y
+       help
+         A simple sysfs interface to force adapters that
+         are detected as USB to charge as AC.
+
 endif
